/* App.css */
.app {
  display: flex;
}

.users {
  width: 20%;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.chat {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
}

.message-list {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.sent {
  flex-direction: row;
  justify-content: flex-end;
}

.received {
  flex-direction: row;
  justify-content: flex-start;
}

.message .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 10px;
}

.message .bubble {
  max-width: 80%;
  padding: 10px;
  border-radius: 35px;
  background-color: #f1f1f1;
}

.received .bubble {
  background-color: #007bff;
  color: white;
}

.sent .bubble {
  background-color: #36d113;
}

.message-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.message-input input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message-input button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}